* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: 'Open Sans', sans-serif;
    --ciano: #00d2ff;
    --blue: #3a7bd5;
    --white: #fff;
}

h1,
h2,
span {
    font-family: var(--font);
    color: var(--white);
}

body {
    width: 100%;
    height: 100vh;
    background: var(--ciano);
    background: -webkit-linear-gradient(to top, var(--ciano), var(--blue));
    background: linear-gradient(to top, var(--ciano), var(--blue));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}